/* stili gestcomm */
body {
	height: 95%;
	width: 100%;
    background-color:#fbb900;/*LightGoldenRodYellow;/*#ffd564;*/
	font-family:Arial;
	margin:0;
     }

/* definizioni menu a scomparsa */
.closeButton {
	background-image: url("../img/cancel-button.png");
	background-repeat: no-repeat;
	background-position: 200px center;
	background-size: 32px;

    cursor: pointer;
    /*left: 200px;*/
    /*position: fixed;*/
    /*top: 90px;*/
	width: 100%;/*56px;*/
	height: 32px;
    z-index: 99;
}

.menuButton {
	background-image: url("../img/menu.png");
	background-repeat: no-repeat;
	background-size: 28px;

	cursor: pointer;
    height: 56px;
    left: 8px;
    position: fixed;
    top: 105px;
    width: 56px;
    z-index: 99;
}	

/* definizioni menu verticale */	
.menu {
	width:236px;
	/*margin-right:30px;*/
	float:left;
	height:100%;
	background:lightgrey; /* Colore sfondo */
}	
 
.menu ul {list-style-type:none; /* Nessuno stile applicato alla lista */
    margin: 2px 0 2px 0;
    padding:0;
    
    }
.menu li {
    border-bottom: 1px solid #696969;
    margin: 0px;
    padding: 0px;
    /*sb width: 140px;*/
    width: 236px;
    }
.menu a {
    text-decoration:none; /* Nessuna decorazione */
    /*color:#fff; /* Colore Link */
    background:#909090; /* Colore sfondo */
    /*padding:3px; /* Distanza tra gli elementi */ 
    padding: 3px 10px 3px 10px; 
    display: block;
    }
    .menu a:hover {background:#007fff; /* Sfondo */
    }

.menu-figlio {
	font-weight: normal;
	color:white;
}

.menu-padre {
	font-weight: bold;
	color:rgb(1,61,131);
}
/*
div.menu > ul > li {
	font-weight: bold;
}
*/
.header {
	float:left;
	width:236px;
}

.logo {
	width:216px;
	float:left;
    padding:0 10px 0 10px; 
}

.logo img{
	float:left;
	width:100%;
}

.title {
	float:left;
	font-size:x-large;
	font-weight:bold;
	color:rgb(1,61,131);
	padding:10px 0 10px 0;	
	text-align:center;
	width:100%;
}

.funzioni {
	float:left;
	
}


.corpoLista {
	float:left;
	padding-left:30px;
	padding-right:30px;
    background-color:white;/*#ffd564;*/
	/*width:calc(100% - 236px);*/
     }

.corpoLista h1{
	font-size:large;
	float:left;
	
 }
.corpoListaHeader {
	clear:both;
	padding-bottom:20px;
	padding-top: 20px;
	font-size:x-large;
	font-weight:bold;
	text-align: center;
	color:rgb(1,61,131);
}

.lista {
	
    background-color:white;/*#ffd564;*/
	/*margin-left: 50px;
	padding-left: 50px;*/	
	/*overflow-x:auto;*/
     }

.tabella {
	
    background-color:white;/*#ffd564;*/
    border-color:lightgrey;
	border-collapse: collapse;
	cursor: pointer;
}

.tabella table {
	border:0;
}

.tabella tr:nth-child(even)
{
	background-color: #f2f2f2;
}	

/*
.tabella thead {
	
    background-color:lightgrey;
	
	
     }
*/

.tabella thead th {
/*padding: 5px;*/
padding:10px 27px 10px 9px;
/* */
border-left: 1px none #ddd;
border-right: 1px none #ddd;
color:rgb(1,61,131);
     }
	 
.tabella tbody td {
padding: 5px;
/* */
border-left: 1px none #ddd;
border-right: 1px none #ddd;
     }
.cellanumerica tbody td {
	text-align: right;
	width:60px;
}	 
.tabella tr:hover {
	background-color: #909090;
	}
/*----  sorting -----*/
thead th {
	font-weight: bold;
}
thead th {
padding: 10px 18px;
border-bottom: 1px solid lightgrey;
border-top: 1px solid lightgrey;
}
thead th:active {
outline: none;
}

thead .sorting,
thead .sorting_asc,
thead .sorting_desc,
thead .sorting_asc_disabled,
thead .sorting_desc_disabled {
cursor: pointer;
*cursor: hand;
background-repeat: no-repeat;
background-position: center right;
}
thead .sorting {
background-image: url("../img/sort_both.png");
}
thead .sorting_asc {
background-image: url("../img/sort_asc.png");
}
thead .sorting_desc {
background-image: url("../img/sort_desc.png");
}
thead .sorting_asc_disabled {
background-image: url("../img/sort_asc_disabled.png");
}
thead .sorting_desc_disabled {
background-image: url("../img/sort_desc_disabled.png");
}

/*-------------------*/

.nav {
	margin-top:10px;
	margin-bottom:10px;
	float:left;
	    background-color:white;/*#ffd564;*/

	}
#pag{
	width:40px;
	}
#paginf{
	width:80px;
	}
			
#pagsup{
	width:80px;
	}
				
					
.comandi {
	margin-top:10px;
	float:left;
	    background-color:white;/*#ffd564;*/

	}
	
.esito {
	clear:both;
	padding-bottom:10px;
	padding-top:10px;
	/*width:30px;*/
}

.filtro {
	clear:both;
	padding-bottom:10px;
	padding-top:10px;
	/*width:30px;*/
}
#valFiltro{
	float:left;
	display:block;
	width:500px;
    border-width: 0px;
}		
#opFiltroLabel{
	float:left;
	display:block;
	width:50px;
}		



.modo {
	clear:both;
	padding-bottom:5px;
	padding-top:5px;

}		

#opEditLabel{
	float:left;
	display:block;
	width:50px;
}		
		
#opEdit{
	float:left;
	display:block;
	width:150px;
    border-width: 0px;
}		
		
.corpoEdit {
	float:left;
	padding-left:30px;
	padding-right:30px;
	
    background-color:white;/*#ffd564;*/

     }
.corpoEditHeader {
	clear:both;
	padding-bottom:20px;
	font-size:x-large;
	font-weight:bold;
	text-align: center;
	color:rgb(1,61,131);
}

.corpoEdit h1{
	font-size:large;
 }
 
.corpoFiltro {
	float:left;
	padding-left:30px;
	padding-right:30px;
	
    background-color:white;/*#ffd564;*/

     }
.corpoFiltroHeader {
	clear:both;
	padding-bottom:20px;
	font-size:x-large;
	font-weight:bold;
	text-align: center;
	color:rgb(1,61,131);
}
 
.operatore {
	width:80px;
}
 

.record {
	
    background-color:white;/*#ffd564;*/
	

     }

.corpoInsert {
	float:left;
	padding-left:30px;
	padding-right:30px;
	
    background-color:white;/*#ffd564;*/

     }
	 
.corpoInsertHeader {
	clear:both;
	padding-bottom:20px;
	font-size:x-large;
	font-weight:bold;
	text-align: center;

	color:rgb(1,61,131);
}


#opInsertLabel{
	float:left;
	display:block;
	width:50px;
}		
		
#opInsert{
	float:left;
	display:block;
	width:50px;
}


.allinea { 
	float:left; 
	margin-left:5px; 
}

	 
	 #opCNCLabel{
		float:left;
		display:block;
		width:50px;
	}		
			
	#opCNC{
		float:left;
		display:block;
		width:150px;
		border-width: 0px;
	}		
			
	.corpoCNC {
		float:left;
		padding-left:30px;
		padding-right:30px;
		/*padding-bottom:10px;
		margin-top:10px;*/
			
		background-color:lightgray;/*#ffd564;*/
	
		 }
	.corpoCNCHeader {
		clear:both;
		padding-bottom:20px;
		font-size:x-large;
		font-weight:bold;
		text-align: center;

		color:rgb(1,61,131);
	}
	
	.corpoCNC h1{
		font-size:large;
	 }
	 
	 #opTOFSLabel{
		float:left;
		display:block;
		width:50px;
	}		
			
	#opTOFS{
		float:left;
		display:block;
		width:150px;
		border-width: 0px;
	}		
			
	.corpoTOFS {
		float:left;
		padding-left:30px;
		padding-right:30px;
		/*padding-bottom:10px;
		margin-top:10px;*/
			
		background-color:lightgray;/*#ffd564;*/
	
		 }
	.corpoTOFSHeader {
		clear:both;
		padding-bottom:20px;
		font-size:x-large;
		font-weight:bold;
		text-align: center;

		color:rgb(1,61,131);
	}
	
	.corpoTOFS h1{
		font-size:large;
	 }

	 .pdffile {
		width:1200px;
		height: 600px;
	}
	.pdffile object{
		width:100%;
		height: 100%;
	}

	.meter_misure {
		background: lightgrey;
		width: 300px;
	}
	.meter_misure:-webkit-meter-optimum::-webkit-meter-bar {
		background:indianred;
	}
	.meter_misure:-webkit-meter-sub-optimum::-webkit-meter-bar {
		background: antiquewhite;
	}
	.meter_misure:-webkit-meter-sub-sub-optimum::-webkit-meter-bar {
		background: steelblue;
	}

/* -------- tab -------------------*/
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
	font-size: 17px;
	
	font-weight:bold;
	color:rgb(1,61,131);
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
/* -------- tab -------------------*/	
/*-------- stile celle numeriche -------*/
.campo_numerico {
	text-align: right;
}
/*-------- stile celle numeriche -------*/

/*------------ grafici -----------------*/
.myChart {
	display:block;
	float:left;
}/* dimensioni */
.myChartCanvas {
	width:800;
	height: 100;
}